<span>Hello from the first extension</span>

{% comment %} Let's access the name of our store {% endcomment %}

<h1>{{ page_title }}</h1>

{% schema %}
  {
    "name": "Hello World",
    "target": "section",
    "settings": [
      {
        "label": "Color",
        "id": "color",
        "type": "color",
        "default": "#000"
      }
    ]
  }
{% endschema %}
